@font-face {
  font-family: "Space Grotesk";
  src: url(./font/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
  background-image: url(./images/Group\ 10.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.face {
  position: absolute;
  width: 390px;
  left: 15%;
  top: 13%;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgb(50 48 48);
}

.back {
  position: absolute;
  width: 390px;
  left: 23%;
  bottom: 13%;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgb(50 48 48);
}

#button {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
  height: 53px;
  width: 381px;
  border-radius: 8px;
  background: #21092f;
  margin-top: 20px;
  cursor: pointer;
  transition: 1s;
  border: 0px;
}

#button:hover {
  background-color: rgb(114, 12, 114);
}

.form {
  position: absolute;
  height: 352px;
  width: 381px;
  top: 21%;
  left: 60%;
  font-family: "Space Grotesk";
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#chn {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cn {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#mm {
  height: 45px;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

#yy {
  height: 45px;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
#cvc {
  height: 45px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.strings {
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
  justify-content: space-between;
}

#pad {
  padding-left: 30px;
}

/* ---------------For Mobile------------------ */

@media only screen and (max-width: 768px) {
  body {
    background-image: url(./images/Group\ 10.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 34%;
  }

  .back {
    width: 75%;
    left: 21%;
    bottom: 73%;
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgb(50 48 48);
  }

  .face {
    position: absolute;
    width: 75%;
    left: 4%;
    top: 18%;
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgb(50 48 48);
  }

  .form {
    position: absolute;
    height: 352px;
    width: 327px;
    top: 50%;
    left: 3%;
    font-family: "Space Grotesk";
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10px;
  }

  #button {
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    height: 53px;
    width: 327px;
    border-radius: 8px;
    background: #21092f;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s;
    border: 0px;
  }
}
